<div class="response-container">
  <div class="question-box">
    <p><%= @question %></p>
    <footer class="footer-you">- You</footer>
  </div>

  <div class="answer-box">
    <p><%= @answer %></p>
    <footer class="footer-coach">- Your Coach</footer>
  </div>
</div>

<div class="back-link">
  <%= link_to 'Ask a new question', ask_path, class: 'btn btn-secondary' %>
</div>
